*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}



/* Header */

header{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}



/* Blog Container */

.blog-container{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
    flex-wrap:wrap;
}



/* Blog Card */

.blog-card{
    background:white;
    width:300px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.blog-card:hover{
    transform:translateY(-10px);
}



/* Text */

.blog-card h2{
    margin-bottom:10px;
}

.info{
    color:gray;
    margin-bottom:15px;
}